<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #description {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }

    #infowindow-content .title {
      font-weight: bold;
    }

    #infowindow-content {
      display: none;
    }

    #map #infowindow-content {
      display: inline;
    }

    .pac-card {
      margin: 10px 10px 0 0;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      font-family: Roboto;
    }

    #pac-container {
      padding-bottom: 12px;
      margin-right: 12px;
    }

    .pac-controls {
      display: inline-block;
      padding: 5px 11px;
    }

    .pac-controls label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }

    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    #title {
      color: #fff;
      background-color: #4d90fe;
      font-size: 25px;
      font-weight: 500;
      padding: 6px 12px;
    }
    #target {
      width: 345px;
    }
  </style>
  

<div class="section home">
                <div class="container">
                  <wizard on-finish="finished()" style="margin-top:25px;">
                    <wz-step wz-title="1">
                    <form name="donationDetails"> 
                        <div class="form-group">
                        <label for="donationItem">What do you want to contribute?</label>
                        <!-- <select class="form-control" name="donationItem" ng-model="donation.donation_category" ng-options="item as item.name for item in donationCategory"></select> -->
                        <select class="form-control" name="donationItem" ng-model="donation.donation_category_id" data-ng-options="item.$id as item.name for item in donationCategory"></select>
                              <span ng-show="donationItem.donation_category.$invalid && donationItem.donation_category.$touched" class="small text-danger">* Item is required</span>
                            </div>
                        <div class="form-group" required>
                        <label for="perishable">Perishable ?</label>
                          <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.perishable" name="perishable" value="True" required> Yes</label>
                          <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.perishable" name="perishable" value="False" required> No</label>
                        </div>
                        <div class="form-group">
                                <label for="donationItem">Max self Life ? (In case of Perishable item)</label>
                                <select class="form-control" name="shelfLife" ng-model="donation.shelf_life" ng-options="time as time for time in perishableTime"></select>
                                <!-- <input type="text" name="shelfLife" class="form-control" ng-model="donation.shelf_life" placeholder="2 days / 14 hours etc.."  required/>  -->
                                <span ng-show="donationDetails.shelfLife.$invalid && donationDetails.shelfLife.$touched" class="small text-danger">* Max self Life required</span>
                        </div>
                      
                      <div class="form-group">
                          <label>Describe Item and Quantity</label>
                          <textarea rows="4" cols="50" name="description" class="form-control" form="donationForm" ng-model="donation.description" placeholder="Rice approx 10kg / 20 peopele" value="" required></textarea>
                        </div>
                </form>  
                  <input type="button" class="btn btn-primary" wz-next="logStep(donation)" ng-disabled="donationDetails.$invalid" value="NEXT" />
                    </wz-step>
                    <wz-step wz-title="2">
                      <form name="donationLocation">
                      <div class="form-group">
                          <label>Cities</label>                                                       
                      <select class="form-control" name="city" ng-model="donation.RHA_city_id" ng-options="city.$id as city.name for city in cityList" required></select>
                      <span ng-show="donationLocation.city.$invalid && donationLocation.city.$touched" class="small text-danger">* City is required</span>
                    </div>    
                              
                        <div class="form-group">
                              <label>Locality / Area</label>
                              <select class="form-control" name="Locality" ng-model="donation.Locality" ng-options="locality as locality.name for locality in localityList" required></select>
                              <span ng-show="donationLocation.Locality.$invalid && donationLocation.Locality.$touched" class="small text-danger">* Locality is required</span>
                              <!-- <input type="text" name="locality" id="locality" ng-model="locality" ng-keyup="complete(locality)" class="form-control" />
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="localitydata in filterLocality" ng-click="fillTextbox(localitydata)">{{localitydata.name}}</li>
                                </ul>
                                {{selectedLocality}} -->
                            </div>
                        <div class="form-group">
                              <label for="donationItem">Landmark</label>
                              <input type="text" class="form-control" ng-model="donation.Landmark" name="Landmark"/> 
                        </div>
          
                      </form>                
                      <input type="button" class="btn btn-primary" wz-next="logStep(donation)" ng-disabled="donationLocation.$invalid" value="NEXT" />
                      <input type="button" class="btn btn-primary" wz-previous="logStep(donation)" value="BACK" />
                    </wz-step>
                    <wz-step wz-title="3">
                      <form  name="doantionExtraDetails">
                          <!-- {{donationFormDetails | json }}         -->
                      <div class="form-group" >
                          <label>Would you be able to share utensils/containers for few hours ?</label>
                            <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.container_provided" name="container_provided" value="True" required> Yes</label>
                            <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.container_provided" name="container_provided" value="False" required> No</label>
                          </div>
                          <span ng-show="doantionExtraDetails.container_provided.$invalid && doantionExtraDetails.container_provided.$touched" class="small text-danger">* required</span>
                          <div class="form-group">
                              <label for="perishable">Would you be able to provide vehicle for few hours ?</label>
                                <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.transporation_provided" name="transporation_provided" value="True" required> Yes</label>
                                <label class="form-check-label" ><input class="form-check-input" type="radio" ng-model="donation.transporation_provided" name="transporation_provided" value="False" required> No</label>
                              </div>  
                              <span ng-show="doantionExtraDetails.transporation_provided.$invalid && doantionExtraDetails.transporation_provided.$touched" class="small text-danger">* required</span>
                              <div class="form-group">  
                               <label>Pictures of items</label> 
                               <input type="file" ngf-select="onFileSelect($files)"  multiple>

                              </div> 
                            </form>
                      <input type="button" class="btn btn-primary" wz-next="logStep(donation)" ng-disabled="doantionExtraDetails.$invalid" value="NEXT" />
                      <input type="button" class="btn btn-primary" wz-previous="logStep(donation)" value="BACK" />
                    </wz-step>
                    <wz-step wz-title="4">
                        <form name="donarDetails">
                            <div class="form-group">
                                <pre>{{donationFormDetails}}</pre>
                          <label for="donationItem">Your Name</label>
                          <input type="text" name="userName"  class="form-control"  ng-model="donation.userName" required /> 
                          <span ng-show="donarDetails.userName.$invalid && donarDetails.userName.$touched" class="small text-danger">* required</span>
                        </div>
                          <div class="form-group">
                              <label>Contact Number</label>
                              <input type="number" name="userMobile"  class="form-control" ng-model="donation.userMobile" ng-pattern="/^[0-9]{10}$/"required /> 
                              <span ng-show="donarDetails.userMobile.$invalid && donarDetails.userMobile.$touched && donarDetails.userMobile.$error.pattern" class="small text-danger">* required</span>
                            </div>
                            
                          <div class="form-group">
                            <label for="donationItem">Pick Up time</label>
                                  <input type="datetime-local" name="pickup_time"  class="form-control" ng-model="donation.pickup_time" required /> 
                                  <span ng-show="donarDetails.pickup_time.$invalid && donarDetails.pickup_time.$touched" class="small text-danger">* Pick Up time required</span>
                          </div>  
                          
                          <div class="form-group">
                              <label>Remarks</label>
                              <textarea rows="4" cols="50" name="remarks" class="form-control" ng-model="donation.remarks" value=" "></textarea>
                      </div>  
                    </form>
                    
                      <input type="button" class="btn btn-primary"  ng-disabled="donarDetails.$invalid" wz-next="logStep(donation)" value="Submit"/>
                      <input type="button" class="btn btn-primary" wz-previous="logStep(donation)" value="BACK" />
                      <!-- wz-next="logStep()" -->
                      <!-- <input type="button" ng-click="goBack()" value="Click here to start again" /> -->
                      <!-- <input type="button" wz-reset value="Click here to reset" /> -->
                    </wz-step>
                  </wizard>
                </section>
              </div>

            
            