<div class="section home">
        <div class="container">
                <!-- <div class="col-md-6 col-md-offset-3 container-slide" style="margin-top: 10%;"> -->
                    <div class="row" style="margin:5%;width:90%">
                    <br>
                    <img style="margin: auto;" src="../images/RobinHood/sucessful.png">
                    <br><br>
                    <p style="padding-left:10%" class="lead"><strong>Our volunteers will get in touch with you soon</strong></p>
                    <hr>
                    <button class="btn btn-primary" style="width: 90%;margin: 5px;" onclick="redirect('home')">Home</button><br>
                    <button class="btn btn-primary" style="width: 90%;margin: 5px;"onclick="redirect('donate')">Contribute Again</button>
                    <button class="btn btn-primary" style="width: 90%; margin: 5px;"onclick="redirect('donorRegister')" ng-if="!isAuthenticated">Become a regular Contributer</button>
                </div>
        </div>
</div>
<style>
    .buttonHolder{
         width: 100%;
         display: block;
  margin-left: auto;
  margin-right: auto;
         padding-right:25%;
         text-align: center;
         padding-left: 10%;

    }
    .pull-left {
    float: left;
  }
  
  .pull-none {
    float: none !important;
  }
  
  .pull-right {
    float: right;
  }
</style>
<script>
function redirect(option){
    console.log(window.location);
            let currentLocation = window.location;
            let optionPath="#/";

    switch (option){
        case "home":break;
        case "donate":optionPath+="donate";break;
        case "donorRegister":optionPath+="donarRegister";break;

    }
    console.log(currentLocation.origin+currentLocation.pathname+optionPath)
            window.location = currentLocation.origin+currentLocation.pathname+optionPath

}

</script>
