<!-- <style>
    .container{
        container
    }
</style> -->
<script>
      
        function SelectOption(option){
            console.log(window.location);
            let currentLocation = window.location;
            let optionPath="#/";
            switch(option){
                case "Donate":optionPath+="donate";break
                case "Volunteer":optionPath+="volunteer";break
                case "About":optionPath+="about";break;
                case "Contact":optionPath+="contact";break;

            }
            console.log(currentLocation.origin+currentLocation.pathname+optionPath)
            window.location = currentLocation.origin+currentLocation.pathname+optionPath
        }
      </script>


 <div class="section home">
    <div class="container ng-scope">
        <div class="col-md-12 container-slide" style="margin-top: 10%;">
            <p style="text-align: center">Except money, any kind of contribution is accepted!</p> 
        <div class="col-lg-4 col-md-4 home-info-desc"  onclick="SelectOption('Donate')">
            <div><h4><i style="color:aqua; font-size:15px;"class="fas fa-hand-holding-heart"></i>  Contribute</h4></div>
        </div>
        <div class="col-lg-3 col-md-4 home-info-desc"  onclick="SelectOption('Volunteer')">
            <div><h4><i style="color:aqua; font-size:15px;"class="fas fa-hands-helping"></i>  Join Robin Hood Army</h4></div>
        </div>
        <div class="col-lg-2 col-md-2 home-info-desc"  onclick="SelectOption('About')">
            <div><h4><i style="color:aqua; font-size:15px;"class="fa fa-info-circle"></i>  About Us</h4></div>
        </div>
        <div class="col-lg-2 col-md-2 home-info-desc" style="padding: 10px;" onclick="SelectOption('Contact')">
            <div><h4><i style="color:aqua; font-size:15px;"class="fas fa-phone"></i>  Reach Us</h4></div>
        </div>
        </div>
        <!-- <i class="fas fa-lightbulb"></i> -->
        <hr>
        <div><img src="../images/RobinHood/RSA.png"></div>
        <hr>
        <br>
    </div>
</div>
    <!-- </div> -->

<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }
        );
    });
</script>
<!-- Script  SlideShow -->
<!-- <script>
    new BoxesFx(document.getElementById('boxgallery'));
</script> -->


  <!-- <script>
      $(document).ready(function () {
          var widget = SC.Widget(document.getElementById('soundcloud_widget'));

          $('button.playButton').click(function () {
              widget.toggle();
          });
      });
  </script> -->

  <script type="text/javascript">
      $(".fancybox-effects-d").fancybox({
          padding: 0,

          openEffect: 'elastic',
          openSpeed: 150,

          closeEffect: 'elastic',
          closeSpeed: 150,

          closeClick: true,

          helpers: {
              css: {
                  'background': 'rgba(238,238,238,0.85)'
              },
              overlay: {
                  locked: false
              }
          }
      });
</script>
