<script>
      
        function SelectOption(option){
            console.log(window.location);
            let currentLocation = window.location;
            let optionPath="#/";
            switch(option){
                case "Volunteer":optionPath+="statistics";break
                case "About":optionPath+="about";break;

            }
            console.log(currentLocation.origin+currentLocation.pathname+optionPath)
            window.location = currentLocation.origin+currentLocation.pathname+optionPath
        }
      </script>


	<div class="section home">
		<div class="container">
		<h2 style="text-align: center">How would you like to help?</h2>  
			<div class="col-lg-4 col-md-4 home-info-desc"  onclick="SelectOption('Volunteer')">
				<div><h4 style="text-align: center;"> Become a Regular Donar</h4></div>
			</div>
			<div class="col-lg-4 col-md-4 home-info-desc"  onclick="SelectOption('About')">
				<div><h4 style="text-align: center;"> Become a volunteer</h4>
				</div>
			</div>
		</div>
	</div>

