<div>
  <div class="ui-67">
    <form  name="drive" class="drivePlan" novalidate>
      <div class="container">
        <br>
        <div class="col-md-12 col-lg-12 acc-col">
          <section>
            <wizard on-cancel="cancelledWizard()">
              <wz-step wz-title="Step 1/2">
                <div class="form-group">
                <label for="driveTitle">Drive Title</label>
                <input type="text" class="form-control" id="driveTitle" name="driveTitle" placeholder="Drive TItle"
                  ng-model="drive_plan.driveTitle" required>
                <span ng-show="drive.driveTitle.$touched && drive.driveTitle.$invalid">The Drive
                  title is required.</span>
                </div>
                <div class="form-group">
                <label for="schedule">Schedule Date</label>
                <input type="datetime-local" class="form-control" name="schedule" id="schedule" ng-model="drive_plan.schedule" ng-change="checkTime()" required/>
                <span class="help-block" ng-show="drive.schedule.$touched && drive.schedule.$invalid">
                Valid Schedule Date is required
                </span>
                </div>
                <button class="btn btn-primary" ng-click="ChangePOC()">Change POC</button><br>
                <div class="form-group">
                <label >POC's Contact</label>
                <input type="number" class="form-control" id="number" name="mobile" ng-minlength="10" ng-maxlength="10"
                  placeholder="Mobile number" ng-model="drive_plan.mobile" ng-required="true" />
                <span class="help-block" ng-show="drive.mobile.$touched && drive.mobile.$invalid || 
                  drive.mobile.$error.number">
                  Valid phone number is required
                </span>
                <span class="help-block" ng-show="((drive.mobile.$error.minlength ||
                           rdrive.mobile.$error.maxlength) && 
                           drive.mobile.$dirty) ">
                  phone number should be 10 digits
                </span></div>
                <div class="help-block" id="errorMessageId" ng-if="errorMessage!=''">{{errorMessage}}</div>
                <button class="btn btn-primary" ng-click="CheckNumberValidity(drive_plan.mobile)" ng-if="drive.mobile.$valid && drive_plan.mobile!=user.mobile">Verify the Contact</button><br>
                <div class="form-group">
                    <label for="PIC">POC</label>
                    <input type="text" class="form-control" id="PIC" placeholder="POC name" name="pic" ng-model="drive_plan.pic"
                      required>
                    <span ng-show="drive.pic.$touched && drive.pic.$invalid">The POC is
                      required.</span></div>
                <div class="form-group">
                <label>Chapter</label>
                <div>
                  <div class="wrapper" z-index="1">
                    <div class="selected-items-box" z-index="1" ng-click="toggleChapter()">
                      --- select --- <span class="caret"></span>
                      <span class="dropdown-icon"></span>
                    </div>
                    <div class="list" ng-hide="toggle">
                      <ul class="items-list">
                        <li ng-repeat="chapter in chapters">
                          <input type="checkbox" ng-model="chapter.selected" id="{{chapter.chapter_name}}"
                            ng-checked="selection.indexOf(chapter.chapter_name) > -1"
                            ng-click="selectChapter(chapter.$id)" required/>
                          <label for={{chapter.chapter_name}}>{{chapter.chapter_name}}</label>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <b ng-if="selectedChapter.length>0">Selected Chapters :</b>
                <div ng-repeat="chapter in selectedChapter">
                    <span style="color:black"><i class="fa fa-map-marker-alt"></i> {{chapters[chapter-1]["chapter_name"]}}</span>
                </div>
                  </div>
                </div>
              </div>
                <div class="pull-right text-center">
               <!-- || drive.schedule.$invalid  -->
               <span class="help-block" ng-if="drive_plan.schedule.$touched && validTime">Schedule Date is in past </span>
                  <button type="submit" wz-next value="next" ng-disabled=" drive.driveTitle.$invalid || !validTime || drive.pic.$invalid || drive.mobile.$invalid || (!selectedChapter.length>0) " class="btn btn-primary">Next</button>
                </div>
              </wz-step>
              <wz-step wz-title="Step 2/2">
                <section class="row">
                  <label for="locality">Contributions</label><br>
                  <b ng-if="selectedDonation.length>0">Selected Contributions : </b><br>
                  <div ng-if="selectedDonation.length>0" ng-repeat="donation in selectedDonationDetails">
                  <div class="card-content col-xs-12">
                      <div class="card-header-green">
                        <h3 class="card-heading pull-left">
                          <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
                          'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
                          {{donationCategory[donation['donation_category_id']]['name']}}
                        </h3>
                      </div>
                      <div class="card-body">
                        <p class="card-p">
                          <div>
                            <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
                          </div>
                          <div>
                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time'] | date:'yyyy-MM-dd HH:mm'}}
                          </div>
                        </p>
                        <div ng-show="showDiv" >
                          <!-- details -->
                          <div>
                            <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                          </div>
                          <div ng-if="donation['PIC']">
                            <b><i class="fa fa-info" aria-hidden="true"></i> PIC: </b>{{donation['PIC']}}
                         </div>
                          <div ng-if="donation['shelf_life']">
                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                          </div>
                          <div>
                            <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                          </div>
                          <div>
                            <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                          </div>
                          <div>
                            <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                          </div>
                          <div ng-show="donation['Landmark']">
                            <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                          </div>
                          <div>
                            <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                          </div>
                          <div>
                            <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                          </div>
                          <div ng-show="donation['remarks']">
                              <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                            </div>
                        </div>
                        <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv" ><i class="fa fa-chevron-up"></i></button>
                        <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv ; showImages('-LmDhx6jsHc9fsPDyZgs/')"><i class="fa fa-chevron-down"></i></button>
                    </div>
                </div>
                  </div>
                  <div class="modal-bg">
                    <div class="dialog">
                      <!-- Large modal -->
                      <a focus-index="1" ng:href="javascript:void(0);" class="btn btn-primary" data-toggle="modal"
                        focus-element="autofocus" data-target=".donationModal">Add Contributions</a>
                      <div class="modal fade donationModal" focus-group focus-group-head="loop" focus-group-tail="loop"
                        focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Contributions</h4>
                              
                            </div>
                            <div class="modal-body">
                                <!-- <input type="text" class="form-control" placeholder="Search for Donations" ng-model="allDonations" /> -->
                                <br>
                                <div
                                  ng-repeat="donation in donation_details">
                                  <div ng-if="donation['$id']!=donationId"class="card-content col-xs-12">
                                      <div class="card-header-green">
                                        <h3 class="card-heading pull-left">
                                          <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
                                          'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
                                          {{donationCategory[donation['donation_category_id']]['name']}}
                                        </h3>
                                        <h3 class="card-heading pull-right mr-10">
                                            <input type="checkbox" ng-model="donation.selected" id="{{donation.$id}}"
                                            ng-checked="selection.indexOf(donation.$id)"
                                            ng-click="selectDonation(donation.$id)" />
                                            <!-- <input type="checkbox" ng-change="getDonationId(donation['$id'])" ng-model="addDonationsList[donation.$id]"> -->
                                        </h3>
                                      </div>
                                      <div class="card-body">
                                        <p class="card-p">
                                          <div>
                                            <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time'] | date:'yyyy-MM-dd HH:mm'}}
                                          </div>
                                        </p>
                                        <div ng-show="showDiv" >
                                          <!-- details -->
                                          <div>
                                            <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                                          </div>
                                          <div ng-if="donation['PIC']">
                                            <b><i class="fa fa-info" aria-hidden="true"></i> PIC: </b>{{donation['PIC']}}
                                         </div>
                                          <div ng-if="donation['shelf_life']">
                                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                                          </div>
                                          <div ng-show="donation['Landmark']">
                                            <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                                          </div>
                                          <div>
                                            <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                                          </div>
                                          <div ng-show="donation['remarks']">
                                              <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                                            </div>
                                        </div>
                                        <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv" ><i class="fa fa-chevron-up"></i></button>
                                        <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv ; showImages('-LmDhx6jsHc9fsPDyZgs/')"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                              </div>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" focus-element="autofocus"
                                data-dismiss="modal">Add</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
                <section class="row">
                  <label for="city">Clusters/Homes</label><br>

                  <b ng-if="selectedCluster.length>0">Selected Clusters/Homes : </b>
                  <div ng-repeat="cluster in selectedCluster">
                    <a ng-href="{{clusters[cluster-1]['cluster_map_loc']}}">
                    <i ng-class="{'fa fa-home':clusters[cluster-1]['cluster_type']=='HOME','fa fa-map-marked-alt':clusters[cluster-1]['cluster_type']=='CLUSTER'}"></i> <b>{{clusters[cluster-1]["cluster_name"]}} </b></a><p> {{clusters[cluster-1]["cluster_address"]}}</p> 
                  </div>
                  <div class="modal-bg">
                    <div class="dialog">
                      <!-- Large modal -->
                      <a focus-index="1" ng:href="javascript:void(0);" class="btn btn-primary" data-toggle="modal"
                        focus-element="autofocus" data-target=".clusterModal">Add Cluster/Home</a>

                      <div class="modal fade clusterModal" focus-group focus-group-head="loop" focus-group-tail="loop"
                        focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Clusters</h4>
                            </div>
                            <div class="modal-body cluster">
                              <input type="text" class="form-control" placeholder="Search for Clusters"
                                ng-model="allChapters" />
                              <ul class="list-group">
                                <li class="list-group-item"
                                  ng-repeat="cluster in clusters |filter:allChapters | filterCluster:selectedChapter">
                                  <input type="checkbox" ng-model="cluster.selected" id="{{cluster.cluster_name}}"
                                    ng-checked="selection.indexOf(cluster.cluster_name) > -1"
                                    ng-click="selectCluster(cluster.cluster_id)" />
                                  <label for={{cluster.cluster_name}}><i ng-class="{'fa fa-home':cluster.cluster_type=='HOME','fa fa-map-marked-alt':cluster.cluster_type=='CLUSTER'}"></i> {{cluster.cluster_name}}
                                  <span>
                                      {{cluster.cluster_address}}</span></label></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" focus-element="autofocus"
                                data-dismiss="modal">Add</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <br>
                <br>
                <div class="pull-right text-center">
                  <button ng-click="addDrivePlan()" class="btn btn-primary" ng-disabled="!selectedCluster.length>0 || !selectedDonation.length>0">Submit</button>
                  <input type="button" class="btn btn-primary" wz-previous="logStep()" value="Back" />
                </div>
              </wz-step>

            </wizard>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .drivePlan span {
    display: block;
    color: red;
  }

  ul.dropdown-menu li {
    cursor: pointer;
  }

  ul.dropdown-menu li span.red {
    color: red;
  }

  ul.dropdown-menu li span.green {
    color: green;
  }

  .caret {
    float: right;
    width: 0;
    height: 0;
    margin: 10px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #000 !important;
  }

  .card-heading {
    display: block;
    font-size: 15px;
    line-height: 5px;
    margin-bottom: 18px;
    margin-left: 1em;
    border-bottom: 1px #00612b;
    color: #fff;
  }

  .card {
    background: #FFF;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }

  .card-body {
    margin: 1em;
  }

  .pull-left {
    float: left;
  }

  .pull-none {
    float: none !important;
  }

  .pull-right {
    float: right;
  }

  .card-header {
    width: 100%;
    color: #2196F3;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  }

  .card-header-green {
    background-color: #00622b;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .card-header-btn {
    border: 0.5rem solid white;
    padding: 0.5rem;
    background-color: #00622b;
    color: #FFFFFF;
    cursor: pointer;
  }

  .p-1 {
    padding: 0.5rem;
  }

  .card:hover {
    border: 1px solid #000;
  }

  .cluster {
    max-height: 300px;
    min-height: 200px;
    overflow: auto;
  }

  .cluster label {
    vertical-align: middle;
    margin-left: 10px;
    width: 90%;
  }

  .cluster label span {
    color: #000;
  }

  .cluster ul li {
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
  }
</style>
        <style>
            .whiteback{
              background-color: white;
              color: black;
            }
            .mb-0{
              margin-bottom: 0;
            }
            .m-0{
              margin: 0;
            }
            .expandCollapseBtn{
              background-color: transparent;
              border: None;
            }
            .pd-0{
              padding: 0px;
            }
            .mr-10{
              margin-right: 10px;
            }
            .profileHead{
              padding-top: 1.5rem;
            }
            .activeTab{
              background-color: #00622b;
              color: white;
            }
            .nonActiveTab{
              /* background-color: #0eb7b7; */
              color: black;
            }
            .activeFilterclass{
              background-color: #5ba56a;
              color: white;
            }
            .card-heading {
                display: block;
                font-size: 15px;
                line-height: 5px;
                margin-bottom: 18px;
                margin-left: 1em;
                border-bottom: 1px #00612b;
                color: #fff;
            }
            .card {
                background:#FFF;
                display: block;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                border:1px solid #AAA;
                border-bottom:3px solid #BBB;
                padding:0px;
                cursor: pointer;
                margin-top:1em;
                overflow:hidden;
                font-family: 'Roboto', sans-serif;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .card-body{
             margin:1em;   
            }
            
            .pull-left {
              float: left;
            }
            
            .pull-none {
              float: none !important;
            }
            
            .pull-right {
              float: right;
            }
            
            .card-header{
                width:100%;
                color:#2196F3;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                
            }
            .card-header-green{
                background-color:#00622b;
                color:#FFFFFF;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .card-header-btn{
                border: 0.5rem solid white;
                padding: 0.5rem;
                background-color:#00622b;
                color:#FFFFFF;
                cursor: pointer;
            }
            .p-1{
              padding: 0.5rem;
            }
            .card:hover{ 
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .btn-green {
              /* background: #00622b; */
              border: 1px solid #00622b;
              /* color: #fff!important; */
              /* -webkit-box-shadow: inset 0 1px 0 #00622b; */
              -moz-box-shadow: inset 0 1px 0 #00622b;
              box-shadow: inset 0 1px 0 #00622b;
              text-shadow: 0 1px 0 rgba(0,0,0,.1);
            }
            
            </style>