<div class="">
    <div class="profileHead">
      <h3 class="p-1 mb-0">Hello {{userDetail.first_name}} {{userDetail.last_name}}</h3>
      <div class="card-header-btn col-md-6" ng-click="redirectFunc('userProfile')">
        Profile
      </div>
      <!-- <div class="card-header-btn col-md-4" ng-click="redirectFunc('myDonations')">
          My Donations
      </div> -->
      <div class="card-header-btn col-md-6" ng-click="redirectFunc('drivePlanList')">
          Drives
      </div>
      <!-- <div class="card-header-btn col-md-4" ng-click="redirectFunc('donate')">
          Donate now
      </div> -->
    </div>
    <h3 class="p-1 m-0">Donations:</h3>
    <div class="row">
      <div class="col-xs-2 pd-0">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-class="statusFilter == 'all' ? 'activeFilterclass' : ''" ng-click="selectFilter('all')">All</a></li>
            <li><a ng-class="statusFilter == 'unattended' ? 'activeFilterclass' : ''" ng-click="selectFilter('unattended')">Un attended</a></li>
            <li><a ng-class="statusFilter == 'measpic' ? 'activeFilterclass' : ''" ng-click="selectFilter('measpic')">Me as PIC</a></li>
            <li><a ng-class="statusFilter == 'mydonation' ? 'activeFilterclass' : ''" ng-click="selectFilter('mydonation')">My Donations</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-10">
        <!-- <h3 class="col-xs-12"><a href="#/">Home </a>/<a href="#/volunteerUpcomingDonations"> Donor's upcoming Donations</a></h3> -->
        
        <button class="col-xs-6 btn btn-green m-0 whiteback" ng-class="showPastTab ? 'activeTab' : 'nonActiveTab'" ng-click="showDonationTab('Past')">Past</button>
        <button class="col-xs-6 btn btn-green m-0 whiteback" ng-class="showUpcomingTab ? 'activeTab' : 'nonActiveTab'" ng-click="showDonationTab('Upcoming')">Upcoming </button>
        <!-- <button class="col-xs-4" ng-class="donateNowTab ? 'activeTab' : 'nonActiveTab'" ng-click="redirectFunc('donate')">Donate Now</button> -->
      </div>
      <!-- <div class="col-xs-3 pd-0">
        <select class = "btn btn-primary dropdown-toggle" ng-model="selectedTime" ng-init=" selectedTime = timeRange[0].days" ng-change="updateFilter(selectedTime)"  ng-options="x.days as x.time for x in timeRange">
        </select>
      </div> -->
      
    </div>
    <div ng-show="DonationList.length > 0 && showUpcomingTab && statusFilter == 'all'" class="card col-md-4" ng-repeat="donation in DonationList | filter:{status:'Pending'}">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <a ng-if="donation.PIC == ''" href="#/createDrivePlan?donationId={{donation.$id}}">Create drive plan</a>
              <a ng-if="donation.PIC != ''" href="#/driveDetails?driveId={{donation.driveId}}">Drive Detail</a>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time'] | date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
            <div ng-show="showDiv" >
              <!-- details -->
              <div>
                <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
              </div>
              <div ng-if="donation['PIC']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> PIC: </b>{{donation['PIC']}}
               </div>
              <div ng-if="donation['shelf_life']">
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
              </div>
              <div>
                <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div ng-show="donation['Landmark']">
                <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
              </div>
              <div>
                <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
              </div>
              <div>
                <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
              </div>
              <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
            </div>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv" ><i class="fa fa-chevron-up"></i></button>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv ; showImages('-LmDhx6jsHc9fsPDyZgs/')"><i class="fa fa-chevron-down"></i></button>
            
        </div>
      </div>
    </div>
    <div ng-show="DonationList.length > 0 && showUpcomingTab && statusFilter == 'unattended'" class="card col-md-4" ng-repeat='donation in DonationList| filter:{status:"Pending"}' ng-if="donation.PIC == ''">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <a ng-if="donation.PIC = ''" href="#/createDrivePlan?donationId={{donation.$id}}">Create drive plan</a>
              <a ng-if="donation.PIC != ''" href="#/driveDetails?driveId={{donation.driveId}}">Drive Detail</a>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
              <div ng-show="showDiv" >
                <!-- details -->
                <div>
                  <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                </div>
                <div ng-if="donation['PIC']">
                    <b><i class="fa fa-info" aria-hidden="true"></i> PIC: </b>{{donation['PIC']}}
                 </div>
                <div ng-if="donation['shelf_life']">
                  <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                </div>
                <div>
                  <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div>
                    <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                  </div>
                  <div>
                      <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                    </div>
                    <div ng-show="donation['Landmark']">
                      <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                    </div>
                    <div>
                      <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                    </div>
                <div>
                  <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                </div>
                <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
              </div>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
            
        </div>
      </div>
    </div>
    
    <div ng-show="DonationList.length > 0 && showUpcomingTab && statusFilter == 'measpic'" class="card col-md-4" ng-repeat="donation in DonationList| filter:{status:'Pending'} | filter:{PIC:userDetail.$id}">
        
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <!-- <a href="#/createDrivePlan">Volunteer</a> -->
              <a ng-if="donation.PIC != ''" href="#/driveDetails?driveId={{donation.driveId}}">Drive Detail</a>

            </h3>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
              <div ng-show="showDiv" >
                <!-- details -->
                <div>
                  <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                </div>
                <div ng-if="donation['shelf_life']">
                  <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                </div>
                <div>
                  <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div>
                  <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div>
                    <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                  </div>
                  <div ng-show="donation['Landmark']">
                    <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                  </div>
                  <div>
                    <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                  </div>
                <div>
                  <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                </div>
                <div ng-show="donation['remarks']">
                    <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                  </div>
              </div>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="DonationList.length > 0 && showUpcomingTab && statusFilter == 'mydonation'" class="card col-md-4" ng-repeat="donation in DonationList| filter:{status:'Pending'} | filter:{userMobile:userDetail.mobile}">
        
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <a ng-if="donation.PIC = ''" href="#/createDrivePlan?donationId={{donation.$id}}">Create drive plan</a>
              <a ng-if="donation.PIC != ''" href="#/driveDetails?driveId={{donation.driveId}}">Drive Detail</a>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
              <div ng-show="showDiv" >
                <!-- details -->
                <div>
                  <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                </div>
                <div ng-if="donation['shelf_life']">
                  <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                </div>
                <div>
                  <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div>
                  <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div>
                    <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                  </div>
                  <div ng-show="donation['Landmark']">
                    <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                  </div>
                  <div>
                    <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                  </div>
                <div>
                  <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                </div>
                <div ng-show="donation['remarks']">
                    <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                  </div>
              </div>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
              <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="PastDonationList.length > 0 && showPastTab && statusFilter == 'all'" class="card col-md-4" ng-repeat="donation in PastDonationList ">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <div class="pull-right" style="padding-right: 10px;"><h3  ng-if="donation['status']='Completed'"><b><em>{{donation['status']}}</em></b></h3></div>
            
            <!-- <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
            </h3> -->
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
            <div ng-show="showDiv" >
              <!-- details -->
              <div>
                <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
              </div>
              <div ng-if="donation['shelf_life']">
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
              </div>
              <div>
                <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                  <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div ng-show="donation['Landmark']">
                  <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                </div>
                <div>
                  <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                </div>
              <div>
                <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
              </div>
              <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
            </div>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="PastDonationList.length > 0 && showPastTab && statusFilter == 'unattended'" class="card col-md-4" ng-repeat="donation in PastDonationList " ng-if="donation.PIC == ''">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <div class="pull-right" style="padding-right: 10px;"><h3  ng-if="donation['status']='Completed'"><b><em>{{donation['status']}}</em></b></h3></div>
            <!-- <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <a href="#/volunteer">Volunteer</a>
            </h3> -->
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
            <div ng-show="showDiv" >
              <!-- details -->
              <div>
                <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
              </div>
              <div ng-if="donation['shelf_life']">
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
              </div>
              <div>
                <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                  <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div ng-show="donation['Landmark']">
                  <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                </div>
                <div>
                  <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                </div>
              <div>
                <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
              </div>
              <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
            </div>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="PastDonationList.length > 0 && showPastTab && statusFilter == 'measpic'" class="card col-md-4" ng-repeat="donation in PastDonationList  | filter:{PIC:userDetail.$id}">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <div class="pull-right" style="padding-right: 10px;"><h3  ng-if="donation['status']='Completed'"><b><em>{{donation['status']}}</em></b></h3></div>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
            <div ng-show="showDiv" >
              <!-- details -->
              <div>
                <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
              </div>
              <div ng-if="donation['shelf_life']">
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
              </div>
              <div>
                <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                  <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div ng-show="donation['Landmark']">
                  <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                </div>
                <div>
                  <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                </div>
              <div>
                <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
              </div>
              <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
            </div>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="PastDonationList.length > 0 && showPastTab && statusFilter == 'mydonation'" class="card col-md-4" ng-repeat="donation in PastDonationList  | filter:{userMobile:userDetail.mobile}">
        <div class="card-content col-xs-12">
          <div class="card-header-green">
            <h3 class="card-heading pull-left">
              <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
              'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'
            }" aria-hidden="true"></i>
              {{donationCategory[donation['donation_category_id']]['name']}}
            </h3>
            <div class="pull-right" style="padding-right: 10px;"><h3  ng-if="donation['status']='Completed'"><b><em>{{donation['status']}}</em></b></h3></div>
            <h3 class="card-heading pull-right mr-10">
              <i class="fa fa-hands-helping" aria-hidden="true"></i>
              <a href="#/donate">Donate Again</a>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-p">
              <div>
                <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
              </div>
              <div>
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time']| date:'yyyy-MM-dd HH:mm'}}
              </div>
            </p>
            <div ng-show="showDiv" >
              <!-- details -->
              <div>
                <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
              </div>
              <div ng-if="donation['shelf_life']">
                <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
              </div>
              <div>
                <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
              </div>
              <div>
                  <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                </div>
                <div ng-show="donation['Landmark']">
                  <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                </div>
                <div>
                  <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                </div>
              <div>
                <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
              </div>
              <div ng-show="donation['remarks']">
                  <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                </div>
            </div>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-up"></i> </button>
            <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div ng-show="DonationList.length == 0">
      <h2>No Upcoming Donation</h2>    
      <h2>Donate Now</h2>    
    </div>
  </div>
  <style>
  .whiteback{
    background-color: white;
    color: black;
  }
  .mb-0{
    margin-bottom: 0;
  }
  .m-0{
    margin: 0;
  }
  .expandCollapseBtn{
    background-color: transparent;
    border: None;
  }
  .pd-0{
    padding: 0px;
  }
  .mr-10{
    margin-right: 10px;
  }
  .profileHead{
    padding-top: 1.5rem;
  }
  .activeTab{
    background-color: #00622b;
    color: white;
  }
  .nonActiveTab{
    /* background-color: #0eb7b7; */
    color: black;
  }
  .activeFilterclass{
    background-color: #5ba56a;
    color: white;
  }
  .card-heading {
      display: block;
      font-size: 15px;
      line-height: 5px;
      margin-bottom: 18px;
      margin-left: 1em;
      border-bottom: 1px #00612b;
      color: #fff;
  }
  .card {
      background:#FFF;
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border:1px solid #AAA;
      border-bottom:3px solid #BBB;
      padding:0px;
      cursor: pointer;
      margin-top:1em;
      overflow:hidden;
      font-family: 'Roboto', sans-serif;
      -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .card-body{
   margin:1em;   
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-none {
    float: none !important;
  }
  
  .pull-right {
    float: right;
  }
  
  .card-header{
      width:100%;
      color:#2196F3;
      border-bottom:3px solid #BBB;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-family: 'Roboto', sans-serif;
      padding:0px;
      margin-top:0px;
      overflow:hidden;
      -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      
  }
  .card-header-green{
      background-color:#00622b;
      color:#FFFFFF;
      border-bottom:3px solid #BBB;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-family: 'Roboto', sans-serif;
      padding:0px;
      margin-top:0px;
      overflow:hidden;
      -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-header-btn{
      border: 0.5rem solid white;
      padding: 0.5rem;
      background-color:#00622b;
      color:#FFFFFF;
      cursor: pointer;
  }
  .p-1{
    padding: 0.5rem;
  }
  .card:hover{ 
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn-green {
    /* background: #00622b; */
    border: 1px solid #00622b;
    /* color: #fff!important; */
    /* -webkit-box-shadow: inset 0 1px 0 #00622b; */
    -moz-box-shadow: inset 0 1px 0 #00622b;
    box-shadow: inset 0 1px 0 #00622b;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
  }
  </style>