<style>
    .container{
        align-items: center;
        margin-left:0 auto;
        left:20%;
        /* display: inline-block; */
    }
    .row{
        width: 100%;
        margin: 0 auto;
        align-self: center;
    }
    .fa-check-circle{
        color: darkgreen;
    }
    .fa-times-circle{
        color: crimson;
    }
</style>
<div class="section home">
        <div class="container">
            <div class="card-content col-xs-12">
                    <div class="card-header-green">
                      <h3 class="card-heading pull-left">
                        <i ng-class="{'fa fa-utensils': donationCategory[donationDetails['donation_category_id']]['name'] == 'Food',
                        'fa fa-book': donationCategory[donationDetails['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donationDetails['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donationDetails['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
                        {{donationCategory[donationDetails['donation_category_id']]['name']}}
                      </h3>
                    </div>
                    <div class="card-body">
                      <p class="card-p">
                        <div>
                          <b><i class="fa fa-map-marker" aria-hidden="true"></i> Locality : </b>{{donationDetails['Locality']['location_name']}} , {{RHACity[donationDetails['RHA_city_id']]['name']}}
                        </div>
                        <div>
                          <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donationDetails['pickup_time'] | date:'yyyy-MM-dd HH:mm a'}}
                        </div>
                      </p>
                      <div>
                        <div>
                          <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donationDetails['description']}}
                        </div>
                        <div ng-if="donationDetails['PIC']">
                          <b><i class="fa fa-info" aria-hidden="true"></i> POC: </b>{{donationDetails['PIC']}}
                       </div>
                        <div ng-if="donationDetails['shelf_life']">
                          <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donationDetails['shelf_life']}}
                        </div>
                        <div>
                          <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donationDetails['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                        </div>
                        <div>
                          <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donationDetails['container_provided'] == 'True' && 'Yes' || 'No' }}
                        </div>
                        <div>
                          <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donationDetails['perishable'] == 'True' && 'Yes' || 'No' }}
                        </div>
                        <div ng-show="donationDetails['Landmark']">
                          <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donationDetails['Landmark']}}
                        </div>
                        <div>
                          <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donationDetails['userName']}}
                        </div>
                        <div>
                          <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donationDetails['userMobile']}}
                        </div>
                        <div ng-show="donationDetails['remarks']">
                            <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donationDetails['remarks']}}
                          </div>
                          <div ng-if="donationDetails['PIC']">
                              <b><img src="../../images/RobinHood/robin.png" style="width:18px;height:18px;"> POC Details</b>
                              <div><b> Name: </b>{{donationDetails['PIC']}}</div>
                              <div><b> Contact: </b>{{donation['PIC_Contact']}}</div>
                          </div>
                          <div>
                            <b><i class="fa fa-user" aria-hidden="true"></i> Contributor Details</b>
                            <div><b></i>Name : </b>{{donationDetails['userName']}}</div>
                            <div><b></i>Contact  : </b>{{donationDetails['userMobile']}}</div>
                          </div> 
                      </div>
                      <br><br>
                      <button class="drivePlanButton"  ng-click="redirect('Home')"><b>Home</b></button>
                  </div>
              </div>
        </div>
    </div><br><br>
    <style>
            .whiteback{
              background-color: white;
              color: black;
            }
            .mb-0{
              margin-bottom: 0;
            }
            .m-0{
              margin: 0;
            }
            .expandCollapseBtn{
              background-color: transparent;
              border: None;
            }
            .pd-0{
              padding: 0px;
            }
            .mr-10{
              margin-right: 10px;
            }
            .profileHead{
              padding-top: 1.5rem;
            }
            .activeTab{
              background-color: #00622b;
              color: white;
            }
            .nonActiveTab{
              /* background-color: #0eb7b7; */
              color: black;
            }
            .activeFilterclass{
              background-color: #5ba56a;
              color: white;
            }
            .card-heading {
                display: block;
                font-size: 15px;
                line-height: 5px;
                margin-bottom: 18px;
                margin-left: 1em;
                border-bottom: 1px #00612b;
                color: #fff;
            }
            .card {
                background:#FFF;
                display: block;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                border:1px solid #AAA;
                border-bottom:3px solid #BBB;
                padding:0px;
                cursor: pointer;
                margin-top:1em;
                overflow:hidden;
                font-family: 'Roboto', sans-serif;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .card-body{
             margin:1em;   
            }
            
            .pull-left {
              float: left;
            }
            
            .pull-none {
              float: none !important;
            }
            
            .pull-right {
              float: right;
            }
            
            .card-header{
                width:100%;
                color:#2196F3;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                
            }
            .card-header-green{
                background-color:#00622b;
                color:#FFFFFF;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .card-header-btn{
                border: 0.5rem solid white;
                padding: 0.5rem;
                background-color:#00622b;
                color:#FFFFFF;
                cursor: pointer;
            }
            .p-1{
              padding: 0.5rem;
            }
            .card:hover{ 
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .btn-green {
              /* background: #00622b; */
              border: 1px solid #00622b;
              /* color: #fff!important; */
              /* -webkit-box-shadow: inset 0 1px 0 #00622b; */
              -moz-box-shadow: inset 0 1px 0 #00622b;
              box-shadow: inset 0 1px 0 #00622b;
              text-shadow: 0 1px 0 rgba(0,0,0,.1);
            }
            </style>
