<style>
    .container{
        align-items: center;
        margin-left:0 auto;
        left:20%;
        /* display: inline-block; */
    }
    .row{
        width: 100%;
        margin: 0 auto;
        align-self: center;
    }
    .columnright{
        width:40%;
        align-items: stretch;
        float: right;
    }
    .columnleft{
        width:60%;
        float:left;
    }
    .datetime{
        font-size: 5fr;
        color: grey;
    }
    .length{
        color:green;
    }
    .expandCollapseBtn{
              background-color: transparent;
              border: None;
            }

    a.notif {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  background: url('http://i.imgur.com/evpC48G.png');
  background-size: contain;
  text-decoration: none;
}
.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}
.card-heading {
                display: block;
                font-size: 15px;
                line-height: 5px;
                margin-bottom: 18px;
                margin-left: 1em;
                border-bottom: 1px #00612b;
                color: #fff;
            }
            .card {
                background:#FFF;
                display: block;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                border:1px solid #AAA;
                border-bottom:3px solid #BBB;
                padding:0px;
                cursor: pointer;
                margin-top:1em;
                overflow:hidden;
                font-family: 'Roboto', sans-serif;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .card-body{
             margin:1em;   
            }
            
            .pull-left {
              float: left;
            }

            .titleContainer{
              display: flex;
              flex-direction: row;
            }
            .title{
              justify-content: left;

            }
            .status{
              justify-content: right;
            }
            
            .pull-none {
              float: none !important;
            }
            
            .pull-right {
              float: right;
            }
            
            .card-header{
                width:100%;
                color:#2196F3;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                
            }
            .card-header-green{
                background-color:#00622b;
                color:#FFFFFF;
                border-bottom:3px solid #BBB;
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: 'Roboto', sans-serif;
                padding:0px;
                margin-top:0px;
                overflow:hidden;
                -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .card-content{
                padding-bottom: 15px;
            }
            .drivePlanButton{
                margin: 5px;
            }
            .spinner{
              display: flex;
              margin-left:5%;
              margin-right:5%;
              padding:2px;
              justify-content: center;
          }

</style>
<div class="section home">
    <div class="spinner" ng-if="!dataLoaded">
        <i class="fa fa-spinner fa-pulse" style="font-size:48px;padding:10%"></i>     
     </div>
        <div class="container" ng-if="dataLoaded">
            <div class="row">
                        <h2>{{driveDetails.driveTitle}}</h2><h2><span style="color: grey; margin-left:10px;" ng-if="driveDetails.status=='Pending' && (driveDetails.schedule>now)"><b class="pull-right"><i> In Progress</i></b></span><span style="color: green;margin-left:10px;" ng-if="driveDetails.status=='Completed'"> <b class="pull-right"><i> {{driveDetails.status}}</i></b></span><ng-template #inProgressPart><span style="color: grey; margin-left:10px;"><b class="pull-right"><i ng-if="driveDetails.status=='Pending'&& (now>driveDetails.schedule)"> Expired</i></b></span></ng-template></h2>
            </div>
                <div class="columnleft">
                    <h3><i class="fa fa-clock"></i><span> {{driveDetails.schedule | date:'MMM dd, yyyy hh:mm a' }}</span></h3>
            </div>
            <div class="row">
                    <div class="columnleft">
                        <h3><i class="fa fa-user"></i><span> {{driveDetails.PIC}}</span></h3>
                    </div>
                    <div class="pull-right">
                        <h3><i class="fa fa-mobile"></i><span> {{driveDetails.contactNumber}}</span></h3>
                    </div>
            </div>
            <div ng-if="driveDetails.status=='Pending' &&  userName==driveDetails.PIC && (driveDetails.schedule>now)"><label><i class="fas fa-edit" style="color: black;" ></i> Change POC </label><span style="padding: 2px;"><input type="checkbox" ng-model="changePOC"></span></div>
            <div ng-if="changePOC"><form name="pocDetails">
                <div>
                    <label>POC's Contact Number</label>
                    <input type="number" name="userMobile"  class="form-control" ng-model="newPOC.Mobile" ng-minlength="10" ng-maxlength="10" required /> 
                    <span ng-show="pocDetails.userMobile.$invalid && pocDetails.userMobile.$touched" class="small text-danger">* Mobile number should be 10 digits</span>
                  </div><br>
                  <button class="btn btn-primary" ng-click="CheckNumberValidity(newPOC.Mobile)" ng-disabled="pocDetails.userMobile.$invalid">Change POC</button>
                  <div style="color: crimson;" id="errorMessageId">{{errorMessage}}</div>
            </form>
          </div>
            <button ng-if="driveDetails.status=='Pending' && userName!=driveDetails.PIC && (driveDetails.schedule>now)" class="drivePlanButton"  ng-click="updateAttendeeList(joinOrQuit)"><b>{{joinOrQuit}}</b></button>
                <br>
                <div ng-if="driveDetails.status=='Completed' && driveDetails.smilesServed"><h3 style="color:green;"><i class="fa fa-smile" style="font-size:15px"></i> Smiles Served : {{driveDetails['smilesServed']}}</h3></div>
              <form name="driveCompletion">
                <div class="form-group" ng-if="userName==driveDetails.PIC && (now>driveDetails.schedule) && driveDetails.status!='Completed'">
                  <label><h3 style="color:green;"><i class="fa fa-smile" style="font-size:15px"></i> Smiles Served</h3></label><input class="form-control"  type="number" name="smilesServed" ng-model="smilesServed" placeholder="Enter the number of smiles served" required>
                  <small style="color: crimson;" ng-if="driveCompletion.smilesServed.$touched && driveCompletion.smilesServed.$invalid"> *Please add this before marking the drive as completed</small>
                  <br>
                  <button class="btn btn-primary drivePlanButton" ng-disabled="driveCompletion.$invalid" ng-click="markDriveStatus('Completed',smilesServed)" ><b>Mark as Completed</b></button>
                </div>
              </form>
              <br>
            <h5><b>Chapters</b></h5>
            <div ng-repeat="chapter in chapterList">
                <i class="fa fa-map-marker-alt"></i>  {{chapter}} 
            </div><br>
            <h5><b>Clusters / Homes</b></h5>
            <div ng-repeat="cluster in clusterList">
                <a ng-href="{{cluster['cluster_map_loc']}}">
                    <i ng-class="{'fa fa-home':cluster['cluster_type']=='HOME','fa fa-map-marked-alt':cluster['cluster_type']=='CLUSTER'}"></i> <b>{{cluster["cluster_name"]}} </b></a><p ng-if="cluster['cluster_address']"> {{cluster["cluster_address"]}}</p>
                    <!-- <i class="fas fa-map-marked-alt"></i>  {{cluster}}  -->
            </div><br>
                <h5><b>Contributions </b><i class="fas fa-edit" style="color: black;" ng-click="redirect('addDonations')"></i></h5>
               <div ng-repeat="donation in driveDetails.donations">
                    <div class="card-content">
                            <div class="card-header-green">
                              <h4 class="card-heading pull-left">
                                <i ng-class="{'fa fa-utensils': donationCategory[donation['donation_category_id']]['name'] == 'Food',
                                'fa fa-book': donationCategory[donation['donation_category_id']]['name'] == 'Stationery','fa fa-tshirt':donationCategory[donation['donation_category_id']]['name']=='Clothes','fa fa-hand-holding-heart':donationCategory[donation['donation_category_id']]['name']=='Others'}" aria-hidden="true"></i>
                                {{donationCategory[donation['donation_category_id']]['name']}}
                              </h4>
                            </div>
                            <div class="card-body">
                              <p class="card-p">
                                <div>
                                  <b><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Locality : </b>{{donation['Locality']['location_name']}} , {{RHACity[donation['RHA_city_id']]['name']}}
                                </div>
                                <div>
                                  <b><i class="fa fa-clock-o" aria-hidden="true"></i> Pickup Time : </b>{{donation['pickup_time'] | date:'MMM dd, yyyy @ hh:mm a'}}
                                </div>
                              </p>
                              <div ng-show="showDiv" >
                                <!-- details -->
                                <div>
                                  <b><i class="fa fa-info" aria-hidden="true"></i> Description : </b>{{donation['description']}}
                                </div>
                                <div ng-if="donation['shelf_life']">
                                  <b><i class="fa fa-clock-o" aria-hidden="true"></i> Shelf Life : </b>{{donation['shelf_life']}}
                                </div>
                                <div>
                                  <b><i class="fa fa-car" aria-hidden="true"></i> Transporation Provided : </b>{{donation['transporation_provided'] == 'True' && 'Yes' || 'No' }}
                                </div>
                                <div>
                                  <b><i class="fa fa-box" aria-hidden="true"></i> Container Provided : </b>{{donation['container_provided'] == 'True' && 'Yes' || 'No' }}
                                </div>
                                <div>
                                  <b><i class="fa fa-leaf" aria-hidden="true"></i> Perishable : </b>{{donation['perishable'] == 'True' && 'Yes' || 'No' }}
                                </div>
                                <div ng-show="donation['Landmark']">
                                  <b><i class="fa fa-building" aria-hidden="true"></i> Landmark : </b>{{donation['Landmark']}}
                                </div>
                                <div>
                                  <b><i class="fa fa-user" aria-hidden="true"></i> Contact Name : </b>{{donation['userName']}}
                                </div>
                                <div>
                                  <b><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number : </b>{{donation['userMobile']}}
                                </div>
                                <div ng-show="donation['remarks']">
                                    <b><i class="fa fa-info" aria-hidden="true"></i> Remark : </b>{{donation['remarks']}}
                                  </div>
                              </div>
                              <button class= "col-xs-12 expandCollapseBtn" ng-show="showDiv" ng-click="showDiv = !showDiv" ><i class="fa fa-chevron-up"></i></button>
                              <button class= "col-xs-12 expandCollapseBtn" ng-show="!showDiv" ng-click="showDiv = !showDiv ; showImages('-LmDhx6jsHc9fsPDyZgs/')"><i class="fa fa-chevron-down"></i></button>
                          </div>
                      </div>
                      <br>                     
              </div>
               <h5><b>Attendees 
               </b><span class="length"> <b> {{attendeeList.length}}</b></span>
               </h5>
               <div ng-repeat="attendee in attendeeList">
                    <i class="fa fa-user"></i>  {{attendee.$id}}
                </div>
                <br>
                <button ng-if="driveDetails.status=='Completed'" class="drivePlanButton" style="widows: 100%;" ng-click="redirect('attendanceList')"><b>Attendance</b></button>
                <h5><b>Comments</b><span class="length">  <b>{{comments.length}}</b></span></h5>
                <textarea rows="3" class="form-control" ng-model="comment"></textarea>
                <!-- <input type="textarea" class="form-control" ng-model="comment" rows="3" name="commentbox" width="100%"> -->
                <br>
                <div class="row" style="width:100%; margin:5px;">
                    <button ng-if="comment.length > 0" class="btn btn-primary drivePlanButton" ng-click=postComment(comment) ng-disabled="comment.$invalid">Post</button>
                </div>
                <hr>
                <div ng-repeat="comment in comments| orderBy:'$id':true | limitTo : 2">
                    <div ng-if="comment.commentDetails"><i class="fas fa-user-circle"></i>  {{comment.commentBy}}
                        <div>{{comment.commentDetails}}</div>
                        <div class="datetime">{{comment.$id | date:'MM/dd/yyyy @ h:mma'}}</div>
                    </div>
                </div>
                <div style="align-items: center;">
                    <button class="btn btn-primary drivePlanButton" ng-if="comments.length>3"ng-click="redirect('commentList')">View All</button>
                </div>
        </div>
</div>
