<style>
    .container{
        align-items: center;
        margin-left:0 auto;
        left:20%;
        /* display: inline-block; */
    }
    .row{
        width: 100%;
        margin: 0 auto;
        align-self: center;
    }
    .columnright{
        width:40%;
        align-items: stretch;
        float: right;
    }
    .columnleft{
        width:60%;
        float:left;
    }
    .datetime{
        font-size: 5fr;
        color: grey;
    }
    .length{
        color:green;
    }

    a.notif {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  background: url('http://i.imgur.com/evpC48G.png');
  background-size: contain;
  text-decoration: none;
}
.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}
</style>
<div class="section home">
        <div class="container">
            <div class="row">
                        <h2 style="text-align: center">{{driveDetails.driveTitle}}<span style="color: grey" ng-if="driveDetails.status=='Pending'"> <b><i>{{driveDetails.status}}</i></b></span><span style="color: green" ng-if="driveDetails.status=='Successful'"> <b><i>{{driveDetails.status}}</i></b></span></h2>
            </div>
            <h3>Drive ID : {{driveDetails.$id}}</h3>
            <!-- <div class="row">
            
            </div> -->
            <!-- <div class="row"> -->
                <div class="columnleft">
                    <h3><i class="fa fa-clock"></i><span> {{driveDetails.schedule | date }}</span></h3>
                <!-- </div> -->
            </div>
            <div class="row">
                    <div class="columnleft">
                        <p><i class="fa fa-user"></i><span> {{driveDetails.PIC}}</span></p>
                    </div>
                    <div class="columnright">
                        <p><i class="fa fa-phone"></i><span> {{driveDetails.contactNumber}}</span></p>
                    </div>
            </div>
                <button ng-if="driveDetails.status=='Pending'" class="drivePlanButton" style="widows: 100%;" ng-click="updateAttendeeList(joinOrQuit)">{{joinOrQuit}}</button>
            <h5><b>Chapters</b></h5>
            <div ng-repeat="chapter in chapterList">
                <i class="fa fa-map-marker"></i>  {{chapter}} 
            </div>
            <h5><b>Cluster</b></h5>
            <div ng-repeat="cluster in clusterList">
                <i class="fa fa-map-marker"></i>  {{cluster}} 
            </div>
                <h5><b>Donations</b></h5>
               <div ng-repeat="donation in driveDetails.donations">
                   <i class="fas fa-hand-holding-heart"></i>  {{donation}} 
               </div>
               <h5><b>Attendees 
               </b><span class="length"> <b> {{attendeeList.length}}</b></span>
               </h5>
               <div ng-repeat="attendee in attendeeList">
                    <i class="fa fa-user"></i>  {{attendee.$id}}
                </div>
                <button ng-if="driveDetails.status=='Successful'" class="drivePlanButton" style="widows: 100%;" ng-click="redirect('attendanceList')">Attendance</button>
                <h5><b>Comments</b><span class="length">  <b>{{comments.length}}</b></span></h5>
                <textarea rows="3" class="form-control" ng-model="comment"></textarea>
                <!-- <input type="textarea" class="form-control" ng-model="comment" rows="3" name="commentbox" width="100%"> -->
                <br>
                <button ng-if="comment.length > 0"class="btn btn-primary" ng-click=postComment(comment) ng-disabled="comment.$invalid">Post</button>
                <button class="btn btn-primary" ng-click="redirect('commentList')">View</button>
                <br>
                <div ng-repeat="comment in comments| orderBy:'$id':true | limitTo : 2">
                    <div ng-if="comment.commentDetails"><i class="fas fa-user-circle"></i>  {{comment.commentBy}}
                        <div>{{comment.commentDetails}}</div>
                        <div class="datetime">{{comment.$id | date:'MM/dd/yyyy @ h:mma'}}</div>
                    </div>
                    </div>

        </div>
</div>
