    <div class="info-footer">
        <!-- <div class="container"> -->
            <div class="row">
              <div class="colLogo">
                  <div class="pull-left"><img style="width:180px;padding-left: 10%; padding-right:10%" src="../images/RobinHood/techpartner.png"></div>
              </div>
              <div class="colLink">
                  <div class="pull-right">
                      <div class="col-xs-3"><a href="https://www.facebook.com/robinhoodarmy"><i class="fab fa-facebook fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                      <div class="col-xs-3"><a href="https://www.instagram.com/rha_india/"><i class="fab fa-instagram fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                      <div class="col-xs-3"><a href="https://twitter.com/rha_india"><i class="fab fa-twitter-square fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                      <div class="col-xs-3"><a href="mailto:info@robinhoodarmy.com"><i class="fas fa-envelope fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                  </div>
              </div>

                    <!-- <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="pull-left"><img  style="width:150px;margin-left: 10%; padding-right:10%" src="../images/RobinHood/techpartneredited.png"></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2" style="margin-left: 5%;">
                        <div class="pull-right">
                            <div class="col-xs-3"><a href="https://www.facebook.com/robinhoodarmy"><i class="fab fa-facebook fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                            <div class="col-xs-3"><a href="https://www.instagram.com/rha_india/"><i class="fab fa-instagram fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                            <div class="col-xs-3"><a href="https://twitter.com/rha_india"><i class="fab fa-twitter-square fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                            <div class="col-xs-3"><a href="mailto:info@robinhoodarmy.com"><i class="fas fa-envelope fa-2x" aria-hidden="true" style="color: azure;"></i></a></div>
                        </div>
                    </div> -->
                        
                       </div>
                    </div>
            
        </div>
    <!-- </div> -->
<style>
.pull-left {
    float: left;
  }

  .pull-none {
    float: none !important;
  }

  .pull-right {
    float: right;
  }
  .row{
    width:100%;
    display: flex;
    /* margin-left: 2%; */
  }
  .colLogo{
    flex: 70%;
    padding-left:5%;
  }
  .colLinks{
    flex: 30%;
  }
  
</style>