<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- <div class="container"> -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><img src="images/RHA-Logo.png" alt="logo" /></a>
            <button id="closeToggleId" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="toggleButtonId" class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
        
            <ul class="nav navbar-nav navbar-right" ng-controller="Login">
				<li ng-show="userDetail.first_name == null && adminDetail.first_name == null"><a href="#/login">Login</a>
                </li>
				<li class="dropdown menu-small" ng-show="userDetail.first_name != null"><a class="dropdown-toggle" data-toggle="dropdown">
				<span ng-bind="userDetail.first_name"> </span><b class="caret"></b></a>
                      <ul class="dropdown-menu vertical-li">
                        <li><a href="{{ userDetail.role == 1 ? '#/volunteerUpcomingDonations' : '#/upcomingDonations'}}"><i class="fa fa-angle-right"></i> Profile</a></li>
                        <li><a ng-click="logout()"><i class="fa fa-angle-right"></i> Logout</a></li>
					</ul>
				</li>
				<li class="dropdown menu-small" ng-show="adminDetail.first_name != null"><a class="dropdown-toggle" data-toggle="dropdown">
				<span ng-bind="adminDetail.first_name"> </span><b class="caret"></b></a>
                      <ul class="dropdown-menu vertical-li">
                        <li><a href="#/adminProfile"><i class="fa fa-angle-right"></i> Profile</a></li>
                        <li><a ng-click="logout()"><i class="fa fa-angle-right"></i> Logout</a></li>
					</ul>
				</li>
				<li><a href="#/">Home</a>
                </li>
                <li><a href="#/about">About Us</a>
                </li>
                <li><a href="#/contact">Reach Us </a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(document).click(function (event) {
            var clickover = $(event.target);
            var classNamr=$('#toggleButtonId').attr('class');
            var _opened = $("#toggleButtonId").hasClass("in");
            if (_opened === true && !clickover.hasClass("navbar-toggle")) {
                $("#closeToggleId").click();
            }
        });
    });
    </script>